<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTest || Admin page</title>
    <link rel="shortcut icon" href="./assets/images/favicon.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/css/admin.css">
</head>

<body>
    <div class="nav-wrap">
        <div class="sidebar close">
            <div class="logo-details">
                <img src="./assets/images/favicon.jpg" alt="" class="logo-icon">
                <span class="logo_name">ProTest</span>
            </div>
            <ul class="top_nav">
                <div class="left_box">
                    <input type="text">
                    <button><i class="material-icons-outlined">search</i></button>
                </div>
                <div class="right_box">
                    <div class="home-section">
                        <div class="home-content">
                            <i class='bx bx-menu'></i>
                        </div>
                    </div>
                    <div class="profile-details">
                        <div class="profile-content">
                            <img src="./assets/images/Shuhrat.jpg" alt="profileImg">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">Shuhrat</div>
                            <div class="job">Admin</div>
                        </div>
                        <i class='bx bx-log-out'></i>
                    </div>
                </div>
            </ul>
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class='bx bx-grid-alt'></i>
                        <span class="link_name">Dashboard</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Dashboard</a></li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-collection'></i>
                            <span class="link_name">Category</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Category</a></li>
                        <li><a href="#">HTML & CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">PHP & MySQL</a></li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="./pages/posts.html">
                            <i class='bx bx-book-alt'></i>
                            <span class="link_name">Posts</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="./pages/posts.html">Posts</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Login Form</a></li>
                        <li><a href="#">Card Design</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="link_name">Analytics</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Analytics</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-line-chart'></i>
                        <span class="link_name">Chart</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Chart</a></li>
                    </ul>
                </li>
                <li>
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-plug'></i>
                            <span class="link_name">Plugins</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="#">Plugins</a></li>
                        <li><a href="#">UI Face</a></li>
                        <li><a href="#">Pigments</a></li>
                        <li><a href="#">Box Icons</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-compass'></i>
                        <span class="link_name">Explore</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Explore</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-history'></i>
                        <span class="link_name">History</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Setting</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Setting</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="main main-width">
        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <div class="number">1000</div>
                    <div class="card-name">Users</div>
                </div> 
                <div class="icon-box">
                    <i class="fas fa-users"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">10</div>
                    <div class="card-name">Admins</div>
                </div> 
                <div class="icon-box">
                    <i class="fas fa-user-shield"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">200</div>
                    <div class="card-name">Content</div>
                </div> 
                <div class="icon-box">
                    <i class="fas fa-photo-video"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">$4500</div>
                    <div class="card-name">Earnings</div>
                </div> 
                <div class="icon-box">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <h2>Earnings (past 12 months)</h2>
                <canvas id="lineChart"></canvas>
            </div>
            <div class="chart" id="doughnut-chart">
                <h2>Employees</h2>
                <canvas id="doughnut"></canvas>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
        integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1/dist/chart.umd.min.js"></script>
    <script src="./assets/js/admin.js"></script>
</body>

</html>